  body{
   
   background: #1a3365; 

   
 }
 #navbar{
  background-color: #ffffff00;
  padding-left:25px; 
  width: 100%;
}


.panel1 {
  font-family: 'Source Sans Pro';
  font-size: 1.3em;
  position: absolute;
  z-index: 10;
  width: 800px;
  height: 100px;
  background: #eee;
  top: 35%;
  left: 30%;
  margin: -110px 0 0 -100px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 100;
  background-color:#ffffff00;
  
}

.panel p {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  color: #222;
  margin-top: -4px;
}
.panel2 {
  font-family: 'Source Sans Pro';
  font-size: 1.3em;
  position: absolute;
  z-index: 10;
  width: 900px;
  height: 100px;
  background: #eee;
  top: 45%;
  left: 10%;
  margin: -110px 0 0 -100px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 100;
  background-color:#ffffff00;
  opacity:0.9;
}
.sdt {
  color: white;
  font-size: 70px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#contactform{
  background-color: #ccccff; 
  padding: 2%;
  border-radius: 5px;
}